@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var integrante in ViewBag.Integrantes.Values)
    {
      <ul>
      <li>hola</li>
        </ul>
 <a href="/Home/SelectIntegrante?dni=@integrante.GetDNI()">@integrante.GetNombre()</a>
    }
     
</div>
